<div class="main">
  <div class="bg">
    <div class="imgBlur" [ngStyle]="{'backgroundImage': 'linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(' + categoriesService.background + ')' }">
    </div>
    <div class="solid"></div>
  </div>
  <div class="text">
    <p class="title">fotogallery</p>
    <div class="sec">
      <div class="subtitle">
        <div class="mane">
          <img class="back" src="../../assets/back.svg" (click)="redirectHome()" /> {{info.name}}
        </div>
        <button class="delete" (click)="deleteCat()">{{deleteBtnText}}</button>
      </div>
    </div>
    <hr>
  </div>
</div>
<app-images [info]=" info "></app-images>
